* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: "Open Sans", sans-serif;
    color: white;
  }
  .nav {
    background: linear-gradient(180deg, #4c38ee 0%, #543dff 100%);
  }
  a.nav-link {
    text-decoration: none;
    color: inherit;
  }
  
  .navbar-light .navbar-nav .nav-link {
    color: white;
    font-size: 18px;
    line-height: 22px;
    padding-left: 60px;
  }
  .hero-section {
    background: linear-gradient(
      122.29deg,
      #4c38ee 40.13%,
      rgba(76, 56, 238, 0.3) 133.77%
    );
    text-decoration: white;
  }
  
  a.nav-link.dropdown-toggle {
    text-decoration: none;
    /* color: white; */
  }


  .hero-content {
    margin: 0;
    width: 50%;
    padding: 10px;
  }
  
  .hero-content h5 {
    margin: 25px;
    padding: 10px;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
  }
  
  .hero-content h1 {
    position: absolute;
    width: 580px;
    height: 110px;
    left: 102px;
    top: 231px;
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 55px;
    color: #ffffff;
  }
  
  .hero-content h6 {
    position: absolute;
    width: 462px;
    /* height: 230px; */
    left: 103px;
    top: 361px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #ffffff;
    padding: 5px;
  }
  
  .btn-custom {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 36px;
    gap: 10px;
    position: absolute;
    width: 173px;
    height: 50px;
    left: 102px;
    top: 596px;
    background: #ffffff;
    border-radius: 5px;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #291ef6;
  }
  
  .feature{
      margin-top: 60px;
  }

  .data-driven {
    margin-top: 100px;
  }

  .manufacturing {
      margin-top: 60px;
  }

  .efficiency {
      margin-top:100px;
  }

  .otif{
      margin-top: 100px;
  }

  .contact-us {
    background: #4c38ee;
    /* width: 1443px; */
    height: 204px;
    left: -3px;
    top: 3113px;
  }
  
  .button {
    background: inherit;
    color: white;
    padding: 15px 35px;
    border: 1px solid white;
    margin-top: 69px;
    font-weight: 600;
    font-size: 18px;
  }
  
  .contact-us-p {
    /* text-align: center; */
    padding: 45px;
    margin-top: -70px;
    justify-content: center;
  
    /* font-weight: 400;
      font-size: 18px;
      line-height: 23px;
      text-align: center; */
    /* margin: auto;
      width: 50%;
      border: 3px solid green;
      padding: 10px; */
  }
  
  .footer-logo {
    margin-top: 10px;
    margin-bottom: 40px;
  }
  
  footer {
    font-size: 18px;
    line-height: 21.83px;
    margin: 90px;
  }
  
  footer h6 {
    font-size: 18px;
    color: #0000ff;
  }
  
  footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
    font-weight: 700;
  }
  
  footer ul li {
    font-weight: 400;
    color: #121212;
  }
  .input-group {
    border-radius: 5px;
    margin-top: 20px;
    height: 60px;
  }
  #button-addon2 {
    background: #3722d3;
    color: #ffffff;
  }
  
  .arrow {
    position: relative;
    top: 150px;
    left: 100px;
  }
  
  .footer-end {
    position: relative;
    padding: 100px 10px 0px 20px;
    bottom: 0;
    width: 100%;
    /* Height of the footer*/
    height: 30px;
    margin-top: auto 0;
  }
  .line {
    height: 1px;
    background-color: rgb(161, 161, 161);
  }
  
  .contact-us-h2 {
    text-align: center;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    padding: 45px;
  }
  